@import '~antd/es/style/themes/default.less';

.electron_drag {
  height: 100%;
  font-size: 14px;
  text-align: center;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.split_row_select_active {
  background-color: #1765ad;
}
.footer_right {
  float: right;
}
.footer_left {
  float: left;
}
.tools button {
  margin-bottom: 10px;
}
